.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;     
}
p, h1{
    font-family: Arial, Helvetica, sans-serif;
}
#time{
font-size: 30pt;
}
.container{ 
    box-shadow:1px 0px 10px #000032ce;
    padding:50px 200px;           
}
input[type=text]{
    border: 2px solid #000032ce;
    box-shadow:1px 0px 10px #000032ce;
    font-size: 13pt;
    padding: 10px 50px;
}
.opt{
    color: white;   
    font-size: 13pt;
    margin: 8px 0;
    background-color: #000032;
    padding: 14px 25px;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    font-family: Arial, Helvetica, sans-serif;
}